<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="4.0.0-beta8-157" targetFramework="portable45-net45+win8+wp8+wpa81" />
  <package id="CreateNewNuGetPackageFromProjectAfterEachBuild" version="1.8.8" targetFramework="portable45-net45+win8+wp8+wpa81" developmentDependency="true" />
</packages>